@use "./partials/mixins";
@use "./partials/colors" as colors;

//smoll reset
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

  font-family:Verdana, Geneva, Tahoma, sans-serif;

  background-color: colors.$light-grey;
}

h1 {
  background-color: colors.$dark-brown;
}

.nb-input {
  width: 50px;
  text-align: center;
}

.separator {
  background-color: #000000;
  width: 10px;
}

.comp-card {
  @include mixins.display-flex();
}

#run-button {
  display:none;
}

.nav {
  background-color: colors.$dark-brown;
  color: colors.$light-grey;

  padding: 1rem 0rem 1rem 1rem;
  @include mixins.display-flex(row, flex-start);
}

.main {
  padding: 1rem;
}

.form-results {
  @include mixins.display-flex(column, center, space-between);
  padding: 1rem;
}

//components

button {
  padding: 0.3rem;
  margin: 0.5rem;
  background-color: colors.$dark-green;
  color: colors.$light-grey;
}